* {
    font-family: "Monaco", monospace;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
button {
    border-radius: 15px;
    background-color: white;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 30px;
    border: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
button:hover:enabled {
    background-color: rgba(125, 132, 138, 0.7);
}
img {
    padding-top: 10px;
    width: 300px;
    height: 300px;
}
select {
    border-radius: 15px;
    background-color: white;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 30px;
    border: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
input {
    max-width: 100px;
    border-radius: 15px;
    background-color: white;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 20px;
    border: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
input[type=number] {
    height: 20px;
    background-color: white;
}
input[type=submit] {
    background-color: white;
}
input[type=submit]:hover {
    background-color: rgba(160, 160, 160, 0.7);
}
input:disabled, select:disabled, button:disabled {
    opacity: 0.5;
}
#onTrip:hover:enabled, #signIn:hover:enabled{
    cursor: pointer;
    background-color: rgba(245,151,15,1);
}
#update:hover:enabled {
    cursor: pointer;
    background-color: rgb(0, 255, 0);
}
#delete:hover {
    background-color: red;
}
#signOut:hover:enabled {
    cursor: pointer;
    background-color: rgba(0,167,232,1);
}
#container {
    background-color: lightgray;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hidden {
    display: none;
}
.shown {
    display: inline;
}