* {
    font-family: "Monaco", monospace;
    text-align: center;
    text-decoration: none;
    color: black;
}
.hidden {
    display: none;
}
.shown {
    display: inline-block;
}
select, input {
    border-radius: 15px;
    background-color: lightgray;
    width: auto;
    min-width: 150px;
    height: 30px;
    border: solid white;
    color: black;
    cursor: pointer;
}
input {
    max-width: 100px;
}
input[type=number] {
    height: 20px;
}
select:hover{
    background-color: rgba(125, 132, 138, 0.7);
}