* {
    font-family: "Monaco", monospace;
    text-align: center;
    text-decoration: none;
    color: black;
}
button {
    border-radius: 15px;
    background-color: lightgray;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 30px;
    border: solid white;
    color: black;
    padding: 5px;
    margin: 5px;
}
button:hover {
    background-color: rgba(125, 132, 138, 0.7);
}