* {
    font-family: "Monaco", monospace;
    text-align: center;
    text-decoration: none;
    color: black;
}
button {
    border-radius: 15px;
    background-color: white;
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 30px;
    border: none;
    color: black;
    padding: 5px;
    margin: 5px;
}
#container {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: lightgray;
    border-width: 100px;
    margin: auto;
}
#orange:hover {
    cursor: pointer;
    background-color: rgba(245,151,15,1);
}
#blue:hover {
    cursor: pointer;
    background-color: rgba(0,167,232,1);
}