{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/itemDetail.css' %}">
    <title>Brumsurf Stock App</title>
</head>
<body onload="setDefaultsAndReload()">
    <button onclick="location.href='/'">Home</button>
    <h1>{{stockType}}</h1>
    <h2 id="brand" brand="{{brand}}">Brand: {{brand}}</h2>
    <h2 id="size" size="{{size}}">Size: {{size}}</h2>
    <h2 id="amount" amount="{{amount}}">{{stockType}} amount: {{amount}}</h2>
    <label>Update the amount? </label><input type="checkbox" id="updateTheAmount" onchange="showHideAmountUpdate(this)">
    <br>
    <form id="updateAmount" name="updateAmount" onsubmit="return confirm('Are you sure you want to update the amount?')" action="" method="POST">
        {% csrf_token %}
        <label for="newAmount" id="newAmountLabel" class="hidden">New Amount: </label><input type="number" id="newAmount" min="1" class="hidden">
        <br>
        <button type="submit" onclick="setUrl()">Update</button>
    </form>
    <form id="deleteItem" name="deleteItem" onsubmit="return confirm('Are you sure you want to delete this {{stockType}}?')" action="{{deleteUrl}}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <script>
        function setDefaultsAndReload() {
            document.getElementById('updateTheAmount').checked=false
            if(window.location.href == 'http://192.168.0.58:8000/addNewItem/') {
                if("{{stockType}}"=='boot') {
                    url = 'http://192.168.0.58:8000/detail/'+"{{pk}}"
                    window.location.replace(url)
                }
            }
        }
        function showHideAmountUpdate(element) {
            amountLabel = document.getElementById('newAmountLabel')
            amountField = document.getElementById('newAmount')
            if(element.checked) {
                amountLabel.className='shown';
                amountField.className='shown';
            }
            else {
                amountLabel.className='hidden';
                amountField.className='hidden';
            }
        }
        function setUrl() {
            updateUrl = "{{updateUrl}}"
            newAmount = document.getElementById('newAmount').value
            newUpdateUrl = updateUrl+'&'+newAmount.toString()
            document.updateAmount.action = newUpdateUrl
        }
    </script>
</body>
</html>