<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brumsurf Stock App</title>
</head>
<body>
    <h1>Surfboard Form</h1>
    <button onclick="location.href='/'">Home</button>
    <br>
    <br>
    <form id="surfboardForm" action="{% url 'addNewSurfboard' %}" method="POST">
        {% csrf_token %}
        Brand: <select id="brand" name="brand" required>
            <option value="hot_surf">Hot Surf</option>
            <option value="bic">Bic</option>
        </select>
        <br>
        Size: <select id="size" name="size" required>
            <option value="6">6'0</option>
            <option value="7">7'0</option>
            <option value="8">8'0</option>
        </select>
    </form>
</body>
</html>
