{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    <script>
        var wetsuitArray = [];
        {% for wet in wetsuits %}
            wetsuitArray.push({
            "brand": "{{ wet.brand }}",
            "gender": "{{ wet.gender }}",
            "size": "{{ wet.size }}",
            "onTrip": "{{ wet.onTrip }}",
            "signedOut": "{{ wet.signedOut }}",
            "signedIn": "{{ wet.signedIn }}",
            "name": "{{ wet.name }}",
            "studentId": "{{ wet.studentId }}",
            "wetsuitNumber": "{{ wet.wetsuitNumber }}"
        })
        {% endfor %}
        var surfboardArray = [];
        {% for surf in surfboards %}
            surfboardArray.push({
            "brand": "{{ surf.brand }}",
            "size": "{{ surf.size }}",
            "onTrip": "{{ surf.onTrip }}",
            "signedOut": "{{ surf.signedOut }}",
            "signedIn": "{{ surf.signedIn }}",
            "name": "{{ surf.name }}",
            "studentId": "{{ surf.studentId }}",
            "surfboardNumber": "{{ surf.surfboardNumber }}"
        })
        {% endfor %}
        var surfskateArray = [];
        {% for surf in surfskates %}
            surfskateArray.push({
            "brand": "{{ surf.brand }}",
            "onTrip": "{{ surf.onTrip }}",
            "signedOut": "{{ surf.signedOut }}",
            "signedIn": "{{ surf.signedIn }}",
            "name": "{{ surf.name }}",
            "studentId": "{{ surf.studentId }}",
            "surfskateNumber": "{{ surf.surfskateNumber }}"
        })
        {% endfor %}
        var bootArray = [];
        {% for boot in boots %}
            bootArray.push({
            "brand": "{{ boot.brand }}",
            "size": "{{ boot.size }}",
            "bootAmount": "{{ boot.bootAmount }}"
        })
        {% endfor %}
        var gloveArray = [];
        {% for glove in gloves %}
            gloveArray.push({
            "brand": "{{ glove.brand }}",
            "size": "{{ glove.size }}",
            "gloveAmount": "{{ glove.gloveAmount }}"
        })
        {% endfor %}
        var hoodArray = [];
        {% for hood in hoods %}
            hoodArray.push({
            "brand": "{{ hood.brand }}",
            "size": "{{ hood.size }}",
            "hoodAmount": "{{ hood.hoodAmount }}"
        })
        {% endfor %}
    </script>
    <script src="{% static 'js/inventory.js' %}"></script>
    <title>Brumsurf Stock App</title>
</head>
<body>
    <h1><a href='/'>Brumsurf Stock App</a></h1>
    <div id='content'>
        <h3>Wetsuits</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Gender</th>
                <th>Size</th>
                <th>Number</th>
                <th>Signed In</th>
            </tr>
            {% for wetty in wetsuits %}
            <tr id='orange' onclick="location.href='{{wetty.url}}'">
                <td>{{ wetty.brand }}</td>
                <td>{{ wetty.gender }}</td>
                <td>{{ wetty.size }}</td>
                <td>{{ wetty.wetsuitNumber }}</td>
                <td>{{ wetty.signedIn }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Surfboards</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Size</th>
                <th>Number</th>
                <th>Signed In</th>
            </tr>
            {% for surf in surfboards %}
            <tr id='blue' onclick="location.href='{{surf.url}}'">
                <td>{{ surf.brand }}</td>
                <td>{{ surf.size }}</td>
                <td>{{ surf.surfboardNumber }}</td>
                <td>{{ surf.signedIn }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Surfskates</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Number</th>
                <th>Signed In</th>
            </tr>
            {% for skate in surfskates %}
            <tr id='orange' onclick="location.href='{{skate.url}}'">
                <td>{{ skate.brand }}</td>
                <td>{{ skate.surfskateNumber }}</td>
                <td>{{ skate.signedIn }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Boots</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Size</th>
                <th>Total</th>
            </tr>
            {% for boot in boots %}
            <tr id='blue' onclick="location.href='{{boot.url}}'">
                <td>{{ boot.brand }}</td>
                <td>{{ boot.size }}</td>
                <td>{{ boot.bootAmount }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Gloves</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Size</th>
                <th>Total</th>
            </tr>
            {% for glove in gloves %}
            <tr id='orange' onclick="location.href='{{glove.url}}'">
                <td>{{ glove.brand }}</td>
                <td>{{ glove.size }}</td>
                <td>{{ glove.gloveAmount }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Hoods</h3>
        <table>
            <tr>
                <th>Brand</th>
                <th>Size</th>
                <th>Total</th>
            </tr>
            {% for hood in hoods %}
            <tr id='blue' onclick="location.href='{{hood.url}}'">
                <td>{{ hood.brand }}</td>
                <td>{{ hood.size }}</td>
                <td>{{ hood.hoodAmount }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
    </div>
    <div id='csv' onclick="saveCSV()">
        <p>Export CSV</p>
    </div>
</body>
</html>
