{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    <title>Brumsurf Stock App</title>
</head>
<body>
    <h1>Inventory</h1>
    <button onclick="location.href='/'">Home</button>
    <br><br>
    <h2>Wetsuits</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Gender</th>
            <th>Size</th>
            <th>Number</th>
            <th>Url</th>
        </tr>
        {% for wetty in wetsuits %}
        <tr>
            <td>{{ wetty.brand }}</a></td>
            <td>{{ wetty.gender }}</a></td>
            <td>{{ wetty.size }}</a></td>
            <td>{{ wetty.wetsuitNumber }}</td>
            <td><a href='{{ wetty.url }}'>{{ wetty.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Surfboards</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Size</th>
            <th>Number</th>
            <th>Url</th>
        </tr>
        {% for surf in surfboards %}
        <tr>
            <td>{{ surf.brand }}</a></td>
            <td>{{ surf.size }}</a></td>
            <td>{{ surf.surfboardNumber }}</td>
            <td><a href='{{ surf.url }}'>{{ surf.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Surfskates</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Number</th>
            <th>Url</th>
        </tr>
        {% for skate in surfskates %}
        <tr>
            <td>{{ skate.brand }}</a></td>
            <td>{{ skate.surfskateNumber }}</td>
            <td><a href='{{ skate.url }}'>{{ skate.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Boots</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Size</th>
            <th>Total</th>
            <th>Url</th>
        </tr>
        {% for boot in boots %}
        <tr>
            <td>{{ boot.brand }}</a></td>
            <td>{{ boot.size }}</td>
            <td>{{ boot.bootAmount }}</td>
            <td><a href='{{ boot.url }}'>{{ boot.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Gloves</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Size</th>
            <th>Total</th>
            <th>Url</th>
        </tr>
        {% for glove in gloves %}
        <tr>
            <td>{{ glove.brand }}</a></td>
            <td>{{ glove.size }}</td>
            <td>{{ glove.gloveAmount }}</td>
            <td><a href='{{ glove.url }}'>{{ glove.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Hoods</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Size</th>
            <th>Total</th>
            <th>Url</th>
        </tr>
        {% for hood in hoods %}
        <tr>
            <td>{{ hood.brand }}</a></td>
            <td>{{ hood.size }}</td>
            <td>{{ hood.hoodAmount }}</td>
            <td><a href='{{ hood.url }}'>{{ hood.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
