{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    <title>Brumsurf Stock App</title>
</head>
<body>
    <h1>Inventory</h1>
    <button onclick="location.href='/'">Home</button>
    <br><br>
    <h2>Wetsuits</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Gender</th>
            <th>Size</th>
            <th>Number</th>
            <th>Url</th>
        </tr>
        {% for wetty in wetsuits %}
        <tr>
            <td>{{ wetty.brand }}</a></td>
            <td>{{ wetty.gender }}</a></td>
            <td>{{ wetty.size }}</a></td>
            <td>{{ wetty.wetsuitNumber }}</td>
            <td><a href='{{ wetty.url }}'>{{ wetty.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Surfboards</h2>
    <table>
        <tr>
            <th>Brand</th>
            <th>Size</th>
            <th>Number</th>
            <th>Url</th>
        </tr>
        {% for surf in surfboards %}
        <tr>
            <td>{{ surf.brand }}</a></td>
            <td>{{ surf.size }}</a></td>
            <td>{{ surf.surfboardNumber }}</td>
            <td><a href='{{ surf.url }}'>{{ surf.url }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
