<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brumsurf Stock App</title>
</head>
<body onload="redirect()">
    <p>If page does not automatically redirect, click <a id="forceRedirect" href="" onclick="redirect()">here</a></p>
    <div hidden>
        <p id="brand">{{brand}}</p>
        <p id="size">{{size}}</p>
        <p id="gender">{{gender}}</p>
        <p id="number">{{number}}</p>
    </div>
    <script>
        function redirect(){
            force = document.getElementById("forceRedirect")
            brand = document.getElementById("brand").textContent;
            size = document.getElementById("size").textContent;
            gender = document.getElementById("gender").textContent;
            number = document.getElementById("number").textContent;
            console.log(brand, size, gender, number);
            force.href = '../wetsuit/'+brand+'&'+size+'&'+gender+'&'+number;
            window.location.replace('../wetsuit/'+brand+'&'+size+'&'+gender+'&'+number);
        }
    </script>
</body>
</html>