{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stockForms.css' %}">
    <title>Brumsurf Stock App</title>
</head>
<body>
    <h1><a href='/'>Brumsurf Stock App</a></h1>
    <button id="wetsuitForm" onclick="location.href={% url 'wetsuitFormPage' %}">
        Wetsuit Form
    </button>
    <br>
    <button id="surfboardForm" onclick="location.href={% url 'surfboardFormPage' %}">
        Surfboard Form
    </button>
    <br>
    <button id="surfskateForm" onclick="location.href={% url 'surfskateFormPage' %}">
        Surfskate Form
    </button>
    <br>
    <button id="bootForm" onclick="location.href={% url 'bootFormPage' %}">
        Boots Form
    </button>
    <br>
    <button id="gloveForm" onclick="location.href={% url 'gloveFormPage' %}">
        Gloves Form
    </button>
    <br>
    <button id="hoodForm" onclick="location.href={% url 'hoodFormPage' %}">
        Hoods Form
    </button>
</body>
</html>